//- 
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
     

html
    head
        title Real Time Game
        link(rel="stylesheet", href="/css/styles.css")
    body(class="index")
        div(class="columns medium-12")
            div(class="columns medium-offset-4 medium-4")
                h3 Player properties
                form(method="post" action="start")
                    label Choose Color: 
                    input(name="color",type="color")
                    br
                    label Choose Name: 
                    input(name="name", type="text")
                    br
                    button(type="submit") Submit